.morph_link {
    position: relative;
}

.morph_link.active canvas,
.morph_link:hover canvas {
    opacity: 1;
}

.morph_link svg,
.morph_link canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.25s;
    z-index: -1;
}

.parallax__layer {
    transition: transform 0.35s;
}