.morph_link {
    position: relative;
}

.morph_link.active svg,
.morph_link:hover svg {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);;
}

.morph_link svg,
.morph_link canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.25s;
    z-index: -1;
}

.svg_morph__step {
    opacity: 0;
}

.parallax {
    overflow: hidden;
}

.parallax__layer {
    transition: transform 0.5s ease-out;
}

#parallax_svg {
    transform: scale(0.1) translateY(-50%);
    transform-origin: 50% 0;
    opacity: 0;
    transition: transform 0.45s ease-out, opacity 0.5s ease-out;
}

#parallax_svg.show {
    opacity: 1;
    transform: scale(1) translateY(-50%);
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.preloader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader #group {
    opacity: 1;
    transition: opacity 0.15s;
}

.preloader.full-hide {
    display: none;
}
.preloader.hide #group {
    opacity: 0;
}